@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #302f36;
}

/* heading and logo */

h1, h2 {
    font-family: 'Crimson Text', serif;
    letter-spacing: 2px;
    color: #222224;
}

#logo {
    float: left;
    font-size: 2.5em;
}