@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #302f36;
}

/* heading and logo */

h1, h2 {
    font-family: 'Crimson Text', serif;
    letter-spacing: 2px;
    color: #222224;
}

#logo {
    float: left;
    font-size: 2.5em;
    margin-left: 20px;
}

/* nav bar float to the right and horizantally */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    float: right;
}

/* align nav bar elements */

#menu, #logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 25px;
    display: inline-block;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* changes color of nav links plus underlines upon hovering */

#menu a:hover {
    border-bottom: 2px solid #302f36;
}

.active {
    border-bottom: 2px solid #302f36;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-cover-text {
    color: #fafafa;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    /* sets zoom effect upon index loading */
    animation-name: hero-zoom;
    animation-duration: 8s;
    animation-fill-mode: backwards;
}

/* zoom animation for the hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

#hero-cover-text {
    font-size: 140%;
    font-family: 'Crimson Text', serif;
    letter-spacing: 2px;
    width: 320px;
    height: 100px;
    padding-bottom: 50px;
    background-color: rgba(254,214,158,0.5);
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: center;
}

/* club intentions */
#club-intentions > h2 {
    font-size: 2em;
    text-align: center;
    margin: 40px;
    color: #302f36;
}

#club-intentions, h3 {
    text-align: center;
}

#club-intentions div {
    width: 33.3%;
    height: 100px;
    float: left;
}

/* footer */
footer {
    height: 100px;
}

/* style socials */
footer > ul {
    text-align: center;
}

footer li {
    display: inline;
}

footer i {
    font-size: 150%;
    color: #302f36;
    padding: 4%;
}

/* pictures section */
#pics {
    clear: both;
    column-count: 3;
    column-gap: 5px;
}

#pics > img {
    width: 100%;
}

#pics > h2 {
    display: none;
}

/* contact form section */
.form-section {
    height: 750px;
    clear: left;
    background: url("/assets/images/contact-background.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 60px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #4c8cb6;
    background-color: rgba(254,214,158,0.5);
    max-width: 400px;
    position: absolute;
    left: 8%;
    padding: 30px;
}

.signup-form > h2 {
    color: #222224;;
    margin-bottom: 20px;
}

.form-input {
    color: #302f36;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #302f36;
    border-radius: 2px;
}

.form-input:hover {
    border-color: #4c8cb6;
}

.sign-button {
    margin-top: 20px;
    border-radius: 4px;
    padding: 16px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #302f36;;
    color: #fafafa;
    display: block;
    margin: 0 auto;
}

.sign-button:hover {
    background-color: #fafafa;
    color: #4c8cb6;
}

/* contact page spotify iframe */
#spotify-player {
    text-align: center;
}

/* Media queries for responsiveness */

/* Screens smaller than 1024px */
@media screen and (max-width: 1024px) {
    #club-intentions {
        margin: 0 auto;
        height: 300px;
    }

    #club-intentions div {
        width: 100%;
        float: left;
    }
}

/* Screens smaller than 768px */
@media screen and (max-width: 768px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 25px;
    }

    #hero-cover-text {
        left: 0;
    }
    
    #pics {
        column-count: 2;
    }
}

/* Make gallery responsive for screens smaller than 480px (mobiles) */
@media screen and (max-width: 480px) {
    #pics {
        column-count: 1;
    }
}