@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #302f36;
}

/* heading and logo */

h1, h2 {
    font-family: 'Crimson Text', serif;
    letter-spacing: 2px;
    color: #222224;
}

#logo {
    float: left;
    font-size: 2.5em;
    margin-left: 20px;
}

/* nav bar float to the right and horizantally */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    float: right;
}

/* align nav bar elements */

#menu, #logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 25px;
    display: inline-block;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* changes color of nav links plus underlines upon hovering */

#menu a:hover {
    border-bottom: 2px solid #302f36;
}

.active {
    border-bottom: 2px solid #302f36;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-cover-text, h2 {
    color: white;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    /* sets zoom effect upon index loading */
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* zoom animation for the hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

#hero-cover-text {
    font-size: 140%;
    font-family: 'Crimson Text', serif;
    letter-spacing: 2px;
    width: 600px;
    height: 50px;
    padding-bottom: 50px;
    background-color: rgba(254,214,158,0.5);
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: center;
}

/* club intentions */
#club-intentions > h1 {
    font-size: 2em;
    text-align: center;
    margin: 40px;
}

#club-intentions, h2 {
    color: #302f36;
    text-align: center;
}

#club-intentions div {
    width: 33.3%;
    height: 100px;
    float: left;
}

/* footer */
footer {
    height: 100px;
}

/* style socials */
footer > ul {
    text-align: center;
}

footer li {
    display: inline;
}

footer i {
    font-size: 150%;
    color: #302f36;
    padding: 4%
}

/* pictures section */
#pics {
    clear: both;
    column-count: 3;
    column-gap: 5px;
}

#pics > img {
    width: 100%;
}